* {
    background-color: khaki;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.container {
     max-width: 1170px;
    margin: 0 auto;
    }
hr {
    border: none; /* Убираем границу */
    background-color:black; /* Цвет линии */
    color: black; /* Цвет линии для IE6-7 */
    height: 1px;
}

.header{
    border-bottom: 1px solid #000;
    }
.header-title {
color:brown;
text-align: center;
font-size: 24px;
}

span.header-title {
font-size: 36px;
}
.coursive{
    font-style: italic;
}
p{
    text-indent: 3ch;
}
li {
    display: inline-block;
}

h2{
    text-align: center;
}